@media screen and (max-width: 1023px) {
  .open__menu {
    height: 100%;
    overflow: hidden;
  }
  .pc {
    display: none !important;
  }

  .close__menu {
    width: 30px;
    height: 30px;
    min-height: 30px;
    background: url(../images/close-menu.png) no-repeat center center;
    margin-left: auto;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .search-box {
    width: 100%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 auto 50px auto;
  }

  .search-group {
    align-items: center;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  .search-input {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    width: calc(100% - 24px);
  }

  .search-but {
    width: 24px;
    height: 24px;
    background-size: 80% auto;
    margin-right: 10px;
  }

  .header {
    top: -12.07729468599034vw;
  }

  .header-top,
  .header-bot,
  .footer-top,
  .footer-bot {
    padding: 0 4.830917874396135%;
  }

  .header-top {
    display: flex;
    align-items: center;
    height: 12.07729468599034vw;
  }

  .header-bot {
    padding-top: 1.690821256038647vw;
    padding-bottom: 1.690821256038647vw;
  }

  .nav-but {
    flex: 0 0 7.246376811594203vw;
    max-width: 7.246376811594203vw;
    height: 7.246376811594203vw;
    background: url(../images/menu.png) no-repeat center center;
    background-size: 100% auto;
    cursor: pointer;
  }

  .logo {
    flex: 0 0 35.50724637681159vw;
    max-width: 35.50724637681159vw;
  }

  .side-logo {
    width: auto;
    flex-grow: 1;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .logo-united {
    flex: 0 0 28.67632850241546vw;
    max-width: 28.67632850241546vw;
  }

  .logo-grand {
    flex: 0 0 18.11594202898551vw;
    max-width: 18.11594202898551vw;
    margin-left: 2vw;
  }

  .navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 90%;
    height: 100%;
    background-color: #fff;
    padding-top: 15px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    -webkit-transition: transform 0.3s ease-in-out, opacity 0.15s ease-in-out;
    transition: transform 0.3s ease-in-out, opacity 0.15s ease-in-out;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .open__menu .navigation {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .nav {
    display: flex;
    flex-wrap: wrap;
  }
  .nav li {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .nav li a {
    color: #606060;
    font-size: 16px;
    font-weight: 500;
  }
  .nav li.active a {
    color: #002d74;
  }
  .nav li a br {
    display: none;
  }

  .header-support {
    display: flex;
    margin-left: auto;
  }
  .support-logo {
    flex: 0 0 30.67632850241546vw;
    max-width: 30.67632850241546vw;
  }
  .register-but {
    flex: 0 0 40.57971014492754vw;
    max-width: 40.57971014492754vw;
    margin-left: 2vw;
  }

  .section-title h2 {
    font-size: clamp(16px, 4.830917874396135vw, 60px);
    margin-bottom: 4.280193236714976vw;
    text-align: center;
  }

  .home-complete {
    margin-top: -14.2512077294686vw;
  }

  .home-diabest {
    margin-top: -28.91787439613527vw;
  }

  .product-content {
    margin-top: -12.4vw;
  }

  .uses-content {
    margin-top: -22.60386473429952vw;
    overflow: hidden;
  }

  .subjects-content {
    margin-top: -24.15458937198068vw;
  }

  .instruction-content {
    margin-top: -24.15458937198068vw;
  }

  .ingredient-content {
    margin-top: -28.15458937198068vw;
  }

  .faq {
    margin-top: -27.77777777777778vw;
    padding-top: 30.77777777777778vw;
    padding-bottom: 11.59420289855072vw;
  }
  .faq--onpage .faq-box {
    padding-left: 10vw;
  }
  .faq-order {
    top: 0.5vw;
    width: 9.178743961352657vw;
    height: 9.178743961352657vw;
    -webkit-transform: translateX(-130%);
    transform: translateX(-130%);
  }
  .faq-order span {
    font-size: 3.381642512077295vw;
  }

  .product-pic img {
    width: 92.07920792079208%;
  }

  .main-product .product-pic img {
    width: 29.95169082125604vw;
  }

  .main-product .products {
    justify-content: center;
  }

  .main-product h1 {
    font-size: 4.830917874396135vw;
    text-transform: uppercase;
    margin-bottom: 12.07729468599034vw;
  }

  .main-product .product:nth-child(1) {
    flex: 0 0 43.71980676328502vw;
    max-width: 43.71980676328502vw;
  }

  .main-product .product:nth-child(2) {
    flex: 0 0 42.02898550724638vw;
    max-width: 42.02898550724638vw;
  }

  .main-product .product-pic {
    margin-bottom: 4.280193236714976vw;
  }

  .main-product h2 {
    font-size: 3.381642512077295vw;
    text-align: center;
  }

  .product-intro {
    width: 100%;
    left: 0;
    top: 0;
    padding: 18.84057971014493vw 4.830917874396135%;
    font-size: 3.381642512077295vw;
    justify-content: space-between;
  }

  .home-complete .product-intro {
    padding-top: 20.35748792270531vw;
  }

  .product-intro .products {
    width: 62.658937vw;
    margin: 0 auto;
    align-items: flex-end;
    margin-bottom: 3.864734299516908vw;
  }

  .product-intro .product {
    flex: 0 0 51.66051660516605%;
    max-width: 51.66051660516605%;
  }

  .product-intro .product.size-small {
    flex: 0 0 37.26937269372694%;
    max-width: 37.26937269372694%;
  }

  .product-intro .product img {
    width: 29.95169082125604vw;
  }

  .product-intro .product.size-small img {
    width: 23.46376811594203vw;
  }

  .product-intro .product.size-small .product-pic {
    top: -1vw;
  }

  .product-intro .product-pic {
    margin-bottom: 2.381642512077295vw;
  }

  .product-intro .product-name {
    font-size: clamp(12px, 3.381642512077295vw, 36px);
  }

  .product-intro h3,
  .specical__level {
    font-size: 3.864734299516908vw;
    text-align: center;
  }

  .product-intro .logo-product {
    width: 45.89371980676329vw;
    margin: 0 auto;
  }

  .product-intro .buts {
    padding-top: 3.830917874396135vw;
    justify-content: center;
  }

  .product-intro {
    display: flex;
    flex-direction: column-reverse;
  }

  .home-complete .product-intro,
  .home-diabest .product-intro {
    flex-direction: column;
  }

  .home-diabest .product-intro {
    padding-top: 30vw;
  }
  .product-intro.size-full {
    padding-top: 27vw;
  }
  .product-intro.size-full .logo-product {
    padding: 3.5vw 0;
  }

  .product-intro.size-full .buts {
    padding-top: 8.21256038647343vw;
    margin-bottom: 8.21256038647343vw;
  }

  .product-use {
    padding: 0 4.830917874396135%;
  }
  .middle-details.product-use {
    padding-top: 27.53623188405797vw;
  }

  .product-use .whey {
    position: relative;
    top: 3vw;
    left: -4vw;
    width: 37.43961352657005vw;
  }
  .arc-product {
    position: relative;
    width: 44.92753623188406vw;
    margin: 0 auto;
    margin-top: -6vw;
    margin-bottom: 2.347826086956522vw;
  }
  .keysport-post {
    display: block;
    width: 100%;
  }
  .keysport-post--item {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .keysport-post--item:not(:last-child) {
    margin-bottom: 0.532367149758454vw;
  }

  .keysport--icon {
    flex: 0 0 16.2512077294686vw;
    max-width: 16.2512077294686vw;
  }
  .keysport--txt {
    flex-grow: 1;
    font-size: 3.381642512077295vw;
    padding-left: 1.932367149758454vw;
  }
  .keysport--txt br {
    display: none;
  }

  .middle-details.subject-use {
    padding-top: 27.53623188405797vw;
  }
  .subject-use .section-title {
    margin-bottom: 3.623188405797101vw;
  }
  .subject-use .section-title h2 {
    margin-bottom: 0;
  }
  .subject-use .section-title p {
    font-size: 3.381642512077295vw;
    text-align: center;
  }

  .subject-box {
    position: relative;
    width: 100%;
    padding: 0 11%;
    margin: 0 auto;
  }
  .subject-pic {
    padding: 3px;
    margin-bottom: 2.140096618357488vw;
  }
  .subject-pic,
  .subject-pic img {
    -webkit-border-radius: 30px 0 30px 0;
    border-radius: 30px 0 30px 0;
    overflow: hidden;
  }
  .subject-box .swiper-slide {
    margin-top: 0 !important;
    margin-bottom: 4.830917874396135vw;
  }
  .subject-use h3 {
    font-size: 3.381642512077295vw;
    text-align: center;
    height: 10.14492753623188vw;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .subject-use h3 br {
    display: none;
  }

  .subject-box .swiper-button-prev,
  .subject-box .swiper-button-next {
    top: 50%;
    background-size: 20% auto;
    margin-top: -23px;
  }

  .middle-details.instruction {
    padding: 21.256038647343vw 4.830917874396135% 0 4.830917874396135%;
  }
  .instruction .section-title h2 {
    text-align: left;
  }
  .how-use {
    display: flex;
    align-items: center;
  }
  .how-use--pic {
    flex: 0 0 33.81642512077295vw;
    max-width: 33.81642512077295vw;
  }
  .how-use--txt {
    flex-grow: 1;
    padding-left: 2%;
  }
  .how-use--txt br {
    display: none;
  }

  .how-make {
    display: flex;
    justify-content: space-between;
    padding-top: 0.75vw;
  }

  .make-item {
    flex: 0 0 33%;
    max-width: 33%;
  }

  .make-pic {
    width: 66.66666666666667%;
    margin: 0 auto;
    margin-bottom: 3vw;
  }

  .unit {
    font-size: 4.347826086956522vw;
  }

  .make-txt {
    font-size: 2.898550724637681vw;
    padding-top: 0.3vw;
  }

  .cal {
    top: 8.8vw;
  }

  .cal-mul {
    font-size: 2.760416666666667vw;
    left: 2vw;
  }

  .cal-add,
  .cal-equal {
    font-size: 3.140096618357488vw;
    left: -1vw;
  }
  .instruction {
    display: flex;
    flex-wrap: wrap;
  }
  .instruction > div:nth-child(1) {
    order: 1;
  }
  .instruction > div:nth-child(2) {
    order: 2;
  }
  .instruction > div:nth-child(3) {
    order: 4;
  }
  .instruction > div:nth-child(4) {
    order: 5;
  }
  .instruction > div:nth-child(5) {
    order: 3;
  }

  .shield-and-elder {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 7vw 0;
  }

  .shield-and-elder--pic {
    flex: 0 0 60.55555555555556vw;
    max-width: 60.55555555555556vw;
  }

  #diabest-page .shield-and-elder {
    padding: 0 0 7vw 0;
  }

  #diabest-page .shield-and-elder--pic {
    flex: 0 0 70.94685990338164vw;
    max-width: 70.94685990338164vw;
  }

  .middle-details.ingredient {
    padding: 21.73913043478261vw 4.830917874396135% 0 4.830917874396135%;
  }

  .ingredient-but {
    width: 10.38647342995169vw;
    top: 26vw;
    left: 0;
    cursor: pointer;
  }

  .elements-box {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  .ingredient-elements {
    position: relative;
    top: 65vw;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
  }

  .ingredient-main {
    width: 100%;
  }

  .ingredient-main img {
    width: 100%;
  }

  .elements-box .whey {
    position: absolute;
    width: 37.19806763285024vw;
    left: -5.6%;
    top: 0;
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
  }

  .ingredient-element {
    width: 16.18357487922705vw;
  }

  .ingredient-element img {
    width: 66.99029126213592%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .ingredient-element h3 {
    font-size: 1.590821256038647vw;
  }

  .ingredient-element--1 {
    left: -4.024096%;
    top: 37.84304%;
  }

  .ingredient-element--2 {
    left: 9.5%;
    top: 52.14304%;
  }

  .ingredient-element--3 {
    left: 27.5%;
    top: 58%;
  }

  .ingredient-element--4 {
    left: 46.5%;
    top: 51%;
  }

  .ingredient-element--5 {
    left: 66%;
    top: 40%;
  }

  .ingredient-element--6 {
    left: 82.5%;
    top: 23%;
  }

  .ingredient-txt {
    font-size: 2.1875vw;
    left: 67%;
    bottom: 4%;
  }

  .ingredient-top {
    position: absolute;
    font-size: 2.173913043478261vw;
    padding: 0 4.830917874396135%;
    left: 0;
    bottom: 16vw;
  }
  .ingredient-top ul {
    padding-left: 3vw;
  }
  .ingredient-note {
    padding-top: 1.5vw;
  }

  .ingredient-table,
  .ingredient-elements,
  .ingredient-brief,
  .ingredient-note,
  .ingredient-but {
    -webkit-transition: opacity 0.8s ease;
    transition: opacity 0.8s ease;
  }

  .ingredient-table {
    width: 100%;
    left: 0;
    top: 33vw;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  .ingredient-table img {
    width: 100%;
  }

  .ingredient-close {
    right: 2.6vw;
    top: 1.6vw;
    width: 4vw;
    height: 4vw;
    background: none;
  }

  .show__table .ingredient-table {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .show__table .ingredient-but,
  .show__table .ingredient-elements,
  .show__table .ingredient-brief,
  .show__table .ingredient-note {
    opacity: 0;
  }

  .faq {
    padding-left: 4.830917874396135%;
    padding-right: 4.830917874396135%;
  }

  .faq-item {
    margin-bottom: 3.797101449275362vw;
  }

  .faq-title {
    -webkit-border-radius: 3.864734299516908vw 0 3.864734299516908vw 0;
    border-radius: 3.864734299516908vw 0 3.864734299516908vw 0;
    padding: 2.415458937198068vw 9.830917874396135vw 2.415458937198068vw
      4.830917874396135vw;
  }

  .faq-title::after {
    right: 4.830917874396135vw;
    border: 2.898550724637681vw solid #fff;
    border-left: 2.173913043478261vw solid transparent;
    border-right: 2.173913043478261vw solid transparent;
    border-bottom: none;
    margin-top: -1.449275362318841vw;
  }

  .active .faq-title::after {
    border-top: none;
    border-bottom: 2.898550724637681vw solid #fff;
  }

  .faq-title h3 {
    font-size: clamp(12px, 3.381642512077295vw, 42px);
    line-height: 1.5;
  }

  .faq-detail {
    padding: 3.864734299516908vw 4.830917874396135vw;
  }

  .faq-detail p {
    text-align: justify;
  }

  .middle-details {
    padding-top: 8.695652173913043vw;
  }

  .faq .middle-details,
  .news-content .middle-details {
    display: block;
  }

  .faq .middle-details {
    padding-top: 0;
  }

  .sub-product--info {
    width: 96.7536231884058%;
    margin: 0 auto;
    text-align: center;
    font-size: 3.864734299516908vw;
    margin-bottom: 7.246376811594203vw;
  }

  .sub-product--info.color-purple {
    margin-bottom: 2.246376811594203vw;
  }

  .sub-product--info h1 {
    font-size: 4.830917874396135vw;
  }

  .sub-product--ingredient {
    width: 85.26570048309179%;
    margin: 0 auto;
    align-items: center;
  }

  .sub-product--ingredient .product img {
    width: 100%;
  }
  .sub-product--ingredient .whey {
    display: flex;
    margin-bottom: 1.207729468599034vw;
  }
  .sub-product--ingredient .whey img {
    position: relative;
    left: -12%;
    width: 37.68115942028986vw;
    margin: 0 auto;
  }

  .sub-product--ingredient .product {
    flex: 0 0 29.95169082125604vw;
    max-width: 29.95169082125604vw;
  }

  .ingredient--list {
    flex-grow: 1;
    max-width: 52vw;
    padding-left: 4.53257790368272%;
  }

  .ingredient--item:not(:last-child) {
    margin-bottom: 1.207729468599034vw;
  }

  .ingredient--icon {
    flex: 0 0 9.420289855072464vw;
    max-width: 9.420289855072464vw;
  }

  .ingredient--txt {
    font-size: 3.381642512077295vw;
    line-height: 1.3;
    padding-left: 3.636363636363636%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 11.11111111111111vw;
    height: 11.11111111111111vw;
    background-size: 30% auto;
    top: 15%;
  }

  .swiper-button-prev {
    left: 2%;
  }

  .swiper-button-next {
    right: 2%;
  }

  .swiper-pagination {
    padding: 10px 0 0 0;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }

  .news-content {
    padding-top: 2vw;
  }

  .news-content .middle-details {
    position: relative;
    padding-top: 0;
    padding-bottom: 16.11111111111111vw;
    overflow: hidden;
  }

  .news-content .middle-details::after {
    content: "";
    position: absolute;
    left: 4.830917874396135%;
    bottom: 7.55555555vw;
    width: 90.33816425120773%;
    height: 1px;
    background-color: #002d74;
  }

  .news-content .middle-details.no__border::after {
    display: none;
  }

  .health-swiper,
  .expert-swiper {
    height: 168.1159420289855vw;
    overflow: visible;
  }

  .promotion-swiper {
    height: 172.9468599033816vw;
    overflow: visible;
  }

  .swiper-grid-column > .swiper-wrapper {
    flex-wrap: wrap;
  }

  .health-swiper .swiper-slide,
  .expert-swiper .swiper-slide,
  .promotion-swiper .swiper-slide {
    height: 50%;
    margin-top: 0 !important;
  }

  .news-box {
    padding: 0 4.830917874396135%;
    margin-bottom: 5.797101449275362vw;
  }

  .article-name {
    font-size: clamp(12px, 3.381642512077295vw, 42px);
    text-transform: uppercase;
    margin-bottom: clamp(10px, 2.898550724637681vw, 36px);
    height: clamp(26px, 10.14492753623188vw, 126px);
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .post-date {
    font-size: clamp(10px, 2.898550724637681vw, 36px);
  }

  .article-pic {
    margin-bottom: clamp(10px, 3.864734299516908vw, 48px);
  }

  .article-pic,
  .article-pic img {
    -webkit-border-radius: 7.729468599033816vw 0 7.729468599033816vw 0;
    border-radius: 7.729468599033816vw 0 7.729468599033816vw 0;
  }

  .news-box.promotion .article {
    display: flex;
    border-bottom: 1px solid rgba(0, 45, 116, 0.3);
    margin-bottom: clamp(10px, 3.864734299516908vw, 48px);
  }

  .news-box.promotion .article:last-child {
    border: none;
  }

  .news-box.promotion .article-pic {
    flex: 0 0 43.58288770053476%;
    max-width: 43.58288770053476%;
  }

  .news-box.promotion .article-txt {
    flex: 0 0 56.41711229946524%;
    max-width: 56.41711229946524%;
    padding-left: 3%;
  }

  .promotion .article-pic {
    padding: 3px;
  }

  .promotion .article-pic,
  .promotion .article-pic .pic,
  .promotion .article-pic .pic img {
    -webkit-border-radius: 4.729468599033816vw;
    border-radius: 4.729468599033816vw;
  }

  .promotion .article .but {
    width: 26vw;
    margin: 0 auto;
    margin-top: 3.302083333333333vw;
  }

  .promotion .article .but__txt {
    padding: 0;
    height: 8.21256038647343vw;
    justify-content: center;
  }

  .filterCate {
    width: 60.34782608695652%;
    margin: 0 auto;
    margin-bottom: 7.246376811594203vw;
    margin-top: -2vw;
  }

  .select__input {
    font-size: clamp(12px, 3.864734299516908vw, 48px);
    padding: 1.932367149758454vw 9.00966183574879vw 1.932367149758454vw
      5.729468599033816vw;
  }
  .select__input,
  .select__header {
    -webkit-border-radius: 3.864734299516908vw 0 3.864734299516908vw 0;
    border-radius: 3.864734299516908vw 0 3.864734299516908vw 0;
  }
  .select__header::after {
    width: 3.864734299516908vw;
    height: 3.864734299516908vw;
    right: 5.729468599033816vw;
    background-size: 100% auto;
  }

  .select__box li {
    padding: 2.2vw 3.729468599033816vw;
    font-size: clamp(12px, 3.381642512077295vw, 42px);
  }

  .article-items .article {
    width: 100%;
    max-width: 100%;
    display: flex;
    margin-bottom: 4.830917874396135vw;
    padding-bottom: 4.830917874396135vw;
    border-bottom: 1px solid rgba(0, 35, 116, 0.3);
  }

  .article-items .article-pic {
    flex: 0 0 47.32620320855615%;
    max-width: 47.32620320855615%;
    margin-right: 5.347593582887701%;
    margin-bottom: 0;
  }

  .article-items .article-txt {
    flex-grow: 1;
  }

  .article-items .article-name {
    height: 15.357488vw;
    -webkit-line-clamp: 3;
  }

  .article-items--promotion {
    display: flex;
    flex-wrap: wrap;
  }
  .article-items--promotion .article {
    border: none;
    flex: 0 0 47%;
    max-width: 47%;
    margin-right: 6%;
    margin-bottom: 6%;
    padding: 0;
  }
  .article-items--promotion .article:nth-child(2n) {
    margin-right: 0;
  }
  .article-items--promotion .article-pic {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0;
  }

  .health-items .article {
    display: flex;
    border-bottom: 1px solid rgba(0, 45, 166, 0.3);
    margin-bottom: 5.347593582887701%;
  }

  .health-items .article-pic {
    flex: 0 0 47.32620320855615%;
    max-width: 47.32620320855615%;
  }
  .health-items .article-txt {
    flex: 0 0 52.67379679144385%;
    max-width: 52.67379679144385%;
    padding-left: 4.81283422459893%;
  }

  .breadcrumb {
    padding: 0 4.830917874396135%;
    margin-bottom: 4.347826086956522vw;
    white-space: nowrap;
  }
  .breadcrumb li {
    max-width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 4.6vw;
  }
  .breadcrumb a {
    font-size: 3.381642512077295vw;
  }
  .breadcrumb li::after {
    width: 2.415458937198068vw;
    height: 2.415458937198068vw;
    right: -3.6vw;
    top: 1.6vw;
  }
  .detail-content {
    flex-wrap: wrap;
    padding: 0 4.830917874396135%;
  }
  .new-detail {
    font-size: 3.381642512077295vw;
    padding-bottom: 4vw;
  }
  .detail-content .buts {
    width: 100%;
    padding-top: 10vw;
  }
  .detail-content .buts img {
    width: 7vw;
    height: auto;
    margin-right: 2vw;
  }
  .detail-txt h1 {
    font-size: 4.830917874396135vw;
  }
  .detail-txt > *:not(img) {
    margin-bottom: 2.083333333333333vw;
  }
  .new-relation h2 {
    font-size: 4.830917874396135vw;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4.347826086956522vw;
  }

  .new-relation {
    width: 100%;
  }

  .new-relation.promotion {
    border-top: 1px solid #002d74;
    margin-top: 2vw;
    padding-top: 5vw;
  }

  .relation__box {
    position: relative;
    width: 100%;
  }
  .relation__box .swiper-pagination {
    padding-top: 30px;
  }

  .player-but {
    width: 36px;
    height: 36px;
    background-size: 90% auto;
  }

  .but,
  .but__txt,
  .but__txt::before {
    -webkit-border-radius: 3.864734299516908vw 0 3.864734299516908vw 0;
    border-radius: 3.864734299516908vw 0 3.864734299516908vw 0;
  }

  .but {
    padding: 1px;
  }

  .but__txt {
    font-size: clamp(12px, 3.381642512077295vw, 42px);
    padding: 0 5.797101449275362vw;
    height: 9.21256038647343vw;
    display: flex;
    align-items: center;
  }

  .middle-details.branch {
    padding: 0 4.830917874396135% 4.830917874396135%;
  }

  .section-title--online {
    display: flex;
    border-bottom: 1px solid #002d74;
    padding-bottom: 4.830917874396135vw;
    margin-bottom: 4.830917874396135vw;
  }

  .branch .section-title h2 {
    text-align: left;
  }

  .section-title--online h2 {
    text-align: left;
    flex-grow: 1;
  }

  .section-title--online .buts {
    flex: 0 0 50%;
    max-width: 200px;
    display: block;
  }

  .section-title--online .but,
  .section-title--online .but__txt,
  .section-title--online .but__txt::before {
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }
  .section-title--online .but__txt {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-title--online .but:not(:last-child) {
    margin-bottom: 5px;
  }

  .section-title--online img {
    width: auto;
    height: 60%;
    margin: 0 4px;
  }
  .branch-city {
    margin-bottom: 4.830917874396135vw;
  }
  .select__input--branch,
  .branch-search--input {
    font-size: 3.381642512077295vw;
    height: 9vw;
    display: flex;
    align-items: flex-end;
  }
  .select__input--branch {
    padding-bottom: 1vw;
  }
  .branch-search--input {
    padding-top: 1vw;
  }
  .branch-filter {
    flex-wrap: wrap;
  }
  .branch-caption {
    font-size: 4.830917874396135vw;
  }
  .branch-city,
  .branch-search {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .select__box--branch li {
    font-size: 3.381642512077295vw;
    padding: 5px 15px;
  }
  .select__header--branch::after {
    width: 4.830917874396135vw;
    height: 4.830917874396135vw;
    right: 0;
    top: 3vw;
    background-size: 100% auto;
  }
  .branch-search--but {
    width: 9vw;
    height: 9vw;
    right: 0;
    bottom: 0;
    background-size: 50% auto;
  }

  .branch-item {
    padding: 4.830917874396135vw 0;
  }
  .near-location {
    padding: 3vw 0 3vw 8vw;
    background-size: 5.797101449275362vw auto;
    font-size: 3.864734299516908vw;
  }
  .result-info {
    margin-bottom: 0;
    padding-bottom: 4.830917874396135vw;
    border-bottom: 1px solid #d7d7d7;
  }
  .result-caption {
    font-size: 3.864734299516908vw;
  }
  .result-value {
    font-size: 3.381642512077295vw;
  }
  .location {
    font-size: 3.381642512077295vw;
  }
  .name {
    font-size: 4.830917874396135vw;
  }
  .address {
    display: flex;
    align-items: center;
    font-size: 3.381642512077295vw;
  }
  .address img {
    flex: 0 0 5.797101449275362vw;
    max-width: 5.797101449275362vw;
    height: auto;
    margin-right: 2vw;
  }
  .phone {
    font-size: 3.381642512077295vw;
  }
  .branch-box {
    flex-wrap: wrap;
  }
  .branch-info {
    width: 100%;
  }
  .branch-map {
    position: relative;
    width: 100%;
    height: auto;
  }
  .branch-map::before {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding-top: 116.1290322580645%;
  }
  #map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .register .middle-details {
    padding: 0 0 10vw 0;
  }
  .register-box {
    padding: 0 4.830917874396135%;
  }
  .form-wrap {
    padding: 2px;
    -webkit-border-radius: 4.83017874396135vw;
    border-radius: 4.83017874396135vw;
    margin-bottom: 6vw;
  }
  .form-box {
    background-color: #fff;
    -webkit-border-radius: 4.83017874396135vw;
    border-radius: 4.83017874396135vw;
    padding: 5.246376811594203vw;
  }
  .register-box h3 {
    font-size: 4.830917874396135vw;
    margin-bottom: 3.125vw;
  }

  .form-group,
  .phone-col {
    margin-bottom: 5.623188405797101vw;
  }

  .input-txt {
    height: 11.11111111111111vw;
    font-size: 3.381642512077295vw;
    padding: 0 7.246376811594203vw;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }

  .country-code {
    display: flex;
    align-items: center;
    align-content: center;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    height: 11.11111111111111vw;
    font-size: 3.381642512077295vw;
  }

  .phone-col {
    display: flex;
    flex-wrap: wrap;
  }

  .col-code {
    flex: 0 0 29.8780487804878%;
    max-width: 29.8780487804878%;
  }

  .col-phone {
    margin-left: 2%;
    flex: 0 0 68.1219512195122%;
    max-width: 68.1219512195122;
  }

  .form-note {
    flex: 0 0 100%;
    max-width: 100%;
    font-size: 2.898550724637681vw;
    line-height: 1.4;
    padding-top: 1.623188405797101vw;
  }

  .input-txt--user,
  .country-code,
  .input-txt--email {
    background-position: 4.246376811594203vw center;
  }

  .input-txt--user {
    padding-left: 10.661835748792271vw;
    background-size: 4.041666666666667vw auto;
  }

  .country-code {
    background-size: 4.197916666666667vw auto;
    padding-left: 10.661835748792271vw;
  }

  .input-txt--email {
    background-size: 4.276041666666667vw auto;
    padding-left: 10.661835748792271vw;
  }

  .error {
    font-size: 2.898550724637681vw;
  }

  .check-item {
    display: flex;
    align-items: center;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .check-item:not(:last-child) {
    margin-bottom: 3.5vw;
  }

  .check-input {
    flex: 0 0 5.797101449275362vw;
    width: 5.797101449275362vw;
    max-width: 5.797101449275362vw;
    height: 5.797101449275362vw;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
  }

  .check-caption {
    font-size: 2.898550724637681vw;
    padding-left: 2vw;
    cursor: pointer;
  }

  .otp__welcome,
  .otp__message,
  .otp__support,
  .resendOtp {
    font-size: 3.381642512077295vw;
  }
  .otp__list {
    margin: 2vw auto;
  }
  .input-otp {
    width: 8vw;
    height: 10vw;
    margin: 0 0.5vw;
    font-size: 5.280193236714976vw;
  }
  .otp__valid,
  .otp__error {
    font-size: 2.898550724637681vw;
    margin-bottom: 2vw;
  }

  .icon-next {
    width: 2.2vw;
    height: auto;
    margin-left: 1.5vw;
  }

  .back-but {
    cursor: pointer;
  }
  .back-but img {
    width: 11vw;
    height: auto;
    margin-right: 2vw;
  }
  .show__back .back-but {
    display: block;
  }
  .question__number {
    font-size: 3.864734299516908vw;
    height: 12vw;
    padding: 0 5vw;
    -webkit-border-radius: 3.666666666666667vw 0 3.666666666666667vw 0;
    border-radius: 3.666666666666667vw 0 3.666666666666667vw 0;
    margin-bottom: 3.979166666666667vw;
  }
  .order {
    flex: 0 0 9.178743961352657vw;
    max-width: 9.178743961352657vw;
    height: 9.178743961352657vw;
  }
  .info {
    flex: 0 0 calc(100% - 9.178743961352657vw);
    max-width: calc(100% - 9.178743961352657vw);
    padding-left: 2vw;
  }
  .title {
    font-size: 3.864734299516908vw;
    margin-bottom: 3.979166666666667vw;
  }

  .radio__item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 3.979166666666667vw;
    flex-wrap: wrap;
  }

  .radio-input {
    flex: 0 0 5.797101449275362vw;
    max-width: 5.797101449275362vw;
    height: 5.797101449275362vw;
    margin-right: 2vw;
  }

  .radio__caption {
    font-size: 3.381642512077295vw;
  }

  .area__input {
    flex: 0 0 100%;
    max-width: 100%;
    font-size: 3.381642512077295vw;
    margin-top: 3.979166666666667vw;
    padding: 2.5vw 4.5vw;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    padding-right: 14vw;
  }

  .input-number {
    flex: 0 0 100%;
    max-width: 100%;
    font-size: 3.381642512077295vw;
    margin-top: 3.979166666666667vw;
    padding: 2.5vw 4.5vw;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    padding-right: 12vw;
  }

  [contentEditable="true"]:empty:not(:focus):before {
    font-size: inherit;
  }

  .radio__item > .area__input {
    padding-right: 4.5vw;
  }

  .area__limited {
    font-size: 2.898550724637681vw;
    right: 3vw;
    top: 2.8125vw;
  }

  .thank {
    font-size: 4.830917874396135vw;
    text-align: center;
    margin-bottom: 6vw;
    font-weight: 700;
  }

  .thank br {
    display: none;
  }

  .recall {
    font-size: 3.381642512077295vw;
    text-align: center;
  }

  .hero__box .swiper-pagination {
    bottom: 7vw;
  }

  #whey-page {
    background: url(../images/whey-g-bg-sp.jpg) no-repeat center top;
    background-size: 100% auto;
  }

  .middle-content--whey .middle-details {
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 4.830917874396135%;
    padding-top: 9.178743961352657vw;
  }

  .middle-content--whey h1 {
    font-size: 9.661835748792271vw;
    margin-bottom: 1.864734299516908vw;
  }

  .middle-content--whey h2 {
    font-size: 6.180193236714976vw;
    margin-bottom: 3.347826086956522vw;
  }

  .middle-content--whey li {
    font-size: 4.347826086956522vw;
    margin-bottom: 2.415458937198068vw;
    background-size: 3.381642512077295vw auto;
    padding-left: 6.038647342995169vw;
    background-position: left 0.3vw;
    letter-spacing: initial;
  }

  .factory__box {
    padding: 0 4.830917874396135%;
    flex-direction: column-reverse;
  }

  .factory__txt h2 {
    font-size: 6.280193236714976vw;
    line-height: 1.2;
    margin-bottom: 4.830917874396135vw;
  }

  .factory__box li {
    margin-bottom: 4.830917874396135vw;
    font-size: 4.347826086956522vw;
  }

  .factory__order {
    flex: 0 0 9.178743961352657vw;
    max-width: 9.178743961352657vw;
    height: 9.178743961352657vw;
    padding: 2px;
  }

  .factory__order span {
    font-size: 3.381642512077295vw;
  }

  .number__order li p {
    padding-left: 4.830917874396135vw;
  }

  .factory__pic {
    padding: 4vw 0 8vw 0;
  }

  .factory__pic img {
    width: 90%;
    margin: 0 auto;
    display: block;
  }

  .circle__list li {
    background-size: 5.314009661835749vw auto;
    padding-left: 9.661835748792271vw;
    background-position: 1vw 0.5vw;
  }

  .compare-content {
    padding: 0 4.830917874396135%;
  }

  .compare__pic {
    width: 76.75675675675676%;
    margin: 0 auto;
    padding: 7.246376811594203vw 0;
  }

  .compare__pic::before {
    width: 70.04830917874396vw;
  }

  .compare__txt h2 {
    font-size: 6.221739130434783vw;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 4.830917874396135vw;
  }

  .compare__txt {
    margin-bottom: 7.246376811594203vw;
  }

  .compare__txt p {
    font-size: 4.347826086956522vw;
    text-align: center;
  }

  .compare__items {
    margin-bottom: 11.59420289855072vw;
  }

  .compare__item {
    font-size: 4.347826086956522vw;
    padding: 6.280193236714976vw;
  }
  .compare__item:not(:last-child) {
    margin-bottom: 15.94202898550725vw;
  }

  .compare__item h3 {
    font-size: 6.280193236714976vw;
  }
  .compare__item h3,
  .compare__item p:not(:last-child) {
    margin-bottom: 3.864734299516908vw;
  }

  .contain-content .middle-details {
    padding: 0 4.830917874396135%;
  }

  .contain__box {
    padding-top: 11.59420289855072vw;
  }

  .contain__box::before {
    width: 70.04830917874396vw;
  }

  .contain__box h2 {
    font-size: 6.280193236714976vw;
    line-height: 1.2;
    margin-bottom: 4.830917874396135vw;
  }

  .contain__txt {
    font-size: 4.347826086956522vw;
    margin-bottom: 8.830917874396135vw;
  }

  .whey-contain {
    margin-bottom: 8.830917874396135vw;
  }

  .immunoglobins {
    margin-bottom: 10.830917874396135vw;
  }

  .immunoglobins img {
    width: 90%;
    margin: 0 auto;
    display: block;
  }

  .contain__box h2 {
    order: 1;
  }
  .contain__txt:nth-child(2) {
    order: 2;
  }
  .whey-contain {
    order: 3;
  }
  .contain__txt:nth-child(3) {
    order: 4;
  }
  .immunoglobins {
    order: 5;
  }

  .type-content .middle-details {
    padding: 0 4.830917874396135% 6vw 4.830917874396135%;
  }

  .type__box h2 {
    font-size: 6.280193236714976vw;
    text-align: center;
    margin-bottom: 7.246376811594203vw;
  }

  .type__icon {
    width: 7.246376811594203vw;
    margin: 0 auto;
    margin-bottom: 4.830917874396135vw;
  }

  .type__item h3,
  .type__item p {
    font-size: 4.347826086956522vw;
    margin-bottom: 4.830917874396135vw;
  }
  .type__item h3 {
    text-align: center;
  }
  .type__item p {
    text-align: justify;
  }

  .type__pic {
    padding: 6vw 0 10vw 0;
  }

  .type__pic img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  .benefit-content {
    background: url(../images/benefit_bg-sp.jpg) no-repeat center bottom;
    background-size: cover;
    padding-bottom: 16.90821256038647vw;
  }

  .benefit__title {
    font-size: 6.280193236714976vw;
    padding: 4.347826086956522vw 4.830917874396135%;
    margin-bottom: 8.695652173913043vw;
  }

  .benefit__items {
    padding: 0 4.830917874396135%;
  }

  .benefit__item {
    align-items: center;
    margin-bottom: 8.695652173913043vw;
    flex-wrap: wrap;
  }

  .benefit__pic,
  .benefit__pic .pic,
  .benefit__pic .pic img {
    -webkit-border-radius: 4.729468599033816vw;
    border-radius: 4.729468599033816vw;
  }


  .benefit__pic {
    flex: 0 0 38.91891891891892%;
    max-width: 38.91891891891892%;
    padding: 3px;
  }

  .benefit__txt {
    flex: 0 0 61.08108108108108%;
    max-width: 61.08108108108108%;
  }

  .benefit__item h3 {
    font-size: 4.347826086956522vw;
  }

  .benefit__item:nth-child(1) .benefit__txt {
    padding-right: 3.405405405405405%;
  }
  .benefit__item:nth-child(2) .benefit__txt {
    padding-left: 3.405405405405405%;
  }
  .benefit__item:nth-child(3) .benefit__txt {
    padding-right: 3.405405405405405%;
  }

  .benefit__detail {
    flex: 0 0 100%;
    max-width: 100%;
    font-size: 4.347826086956522vw;
    padding-top: 5.797101449275362vw;
  }

  .benefit__detail::before {
    display: none;
  }

  .benefit__detail p:not(:last-child) {
    margin-bottom: 7.246376811594203vw;
  }

  .benefit__contact {
    font-size: 3.864734299516908vw;
    padding: 3.864734299516908vw;
    -webkit-border-radius: 1.6vw;
    border-radius: 1.6vw;
    width: 90.33816425120773%;
    margin: 0 auto;
  }


  .footer {
    overflow: hidden;
  }

  .footer-top {
    display: flex;
    justify-content: flex-end;
    padding-top: clamp(22px, 5.314009661835749vw, 66px);
    padding-bottom: clamp(22px, 5.314009661835749vw, 66px);
  }

  .footer-bot {
    flex-wrap: wrap;
    border-top: none;
  }

  .logo--bot {
    width: 39.3048128342246%;
    margin-right: auto;
  }

  .logo-united--bot {
    flex: 0 0 24.86631016042781%;
    max-width: 24.86631016042781%;
  }

  .logo-grand--bot {
    flex: 0 0 20.05347593582888%;
    max-width: 20.05347593582888%;
    margin-left: clamp(18px, 4.81283422459893vw, 64px);
  }

  .footer-bot--left,
  .footer-bot--right {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .footer-bot--left {
    margin-bottom: clamp(22px, 5.314009661835749vw, 66px);
  }

  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: clamp(10px, 2.415458937198068vw, 30px);
  }

  .footer-nav li {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 9vw;
    margin-bottom: 4vw;
  }

  .footer-nav li::after {
    content: "";
    position: absolute;
    right: -5vw;
    top: 40%;
    width: 1px;
    height: 100%;
    background-color: #fff;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .footer-nav li:nth-child(4n) {
    margin-right: 0;
  }
  .footer-nav li:nth-child(4n)::after {
    display: none;
  }

  .footer p,
  .hotline a,
  .copyright {
    font-size: clamp(12px, 2.898550724637681vw, 30px);
  }

  .footer-nav a {
    display: block;
    text-transform: uppercase;
    font-size: 2.657004830917874vw;
    line-height: 1.2;
    text-align: center;
  }

  .subtitle {
    font-size: clamp(14px, 3.864734299516908vw, 34px);
    margin-bottom: clamp(10px, 2.415458937198068vw, 20px);
  }

  .footer-contact--info,
  .footer-producer {
    margin-bottom: clamp(18px, 4.81283422459893vw, 64px);
  }

  .footer-contact--info {
    display: flex;
    border-top: 1px solid #fff;
    padding-top: clamp(18px, 4.81283422459893vw, 64px);
  }

  .company-info,
  .origin-info {
    flex: 0 0 48%;
    max-width: 48%;
  }

  .origin-info {
    margin-left: 4%;
  }

  .footer-contact--hotline {
    padding-bottom: clamp(10px, 2.415458937198068vw, 30px);
  }

  .hotline {
    display: flex;
    flex-wrap: wrap;
  }

  .hotline li:nth-child(1) {
    margin-right: clamp(70px, 16.90821256038647vw, 210px);
  }

  .hotline li {
    display: flex;
    align-items: center;
    margin-bottom: clamp(14px, 3.381642512077295vw, 42px);
  }

  .hotline .icon {
    width: clamp(18px, 4.347826086956522vw, 54px);
    height: auto;
    margin-right: clamp(10px, 2.415458937198068vw, 20px);
  }

  .footer-socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding-top: clamp(18px, 4.347826086956522vw, 54px);
    padding-bottom: clamp(18px, 4.347826086956522vw, 54px);
  }

  .footer-socials .subtitle {
    margin-bottom: 0;
  }

  .socials__box {
    margin-top: 2vw;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    padding: 4vw 0;
    justify-content: space-between;
  }

  .socials__box .subtitle {
    margin-bottom: 0;
  }

  .socials {
    display: flex;
  }

  .socials li,
  .socials a {
    display: block;
  }

  .socials li {
    margin-left: clamp(16px, 3.864734299516908vw, 34px);
  }

  .socials a {
    width: clamp(36px, 8.695652173913043vw, 72px);
  }

  .gov-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: clamp(18px, 4.347826086956522vw, 54px);
    padding-bottom: clamp(18px, 4.347826086956522vw, 54px);
  }

  .gov-link {
    width: 27.80748663101604%;
  }

  .zalo-chatbot {
    width: 50px;
    height: 50px;
    right: 7px;
    bottom: 7px;
  }

  .video__inr {
    width: 100%;
    height: 56.25vw;
  }
}

@media (orientation: landscape) and (max-width: 1023px) {
  .navigation {
    padding-top: 10px;
  }
  .close__menu {
    margin-bottom: 10px;
  }
  .search-box {
    margin-bottom: 15px;
  }
  .nav li {
    margin-bottom: 7px;
  }
}

@media screen and (max-width: 375px) {
  /* .footer-nav li::after {
    right: -2.5vw;
    top: 46%;
  } */
}

@media screen and (max-width: 350px) {
  /* .hotline li:nth-child(1) {
    margin-right: clamp(10px, 16.90821256038647vw, 40px);
  } */
}
