@media screen and (min-width: 1023px) {
  .sp {
    display: none !important;
  }

  .header {
    top: -6.253284287966369vw;
  }

  .header-top,
  .header-bot,
  .footer-wrap {
    padding: 0 2.604166666666667%;
  }

  .header-top {
    padding-top: 1.097222222222222vw;
    padding-bottom: 1.097222222222222vw;
  }

  .logo {
    width: 19.79166666666667vw;
    margin-right: 9.270833333333333vw;
  }

  .logo a {
    display: block;
  }

  .search-box {
    width: 38.79032258064516%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  .search-group {
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  .search-input {
    font-size: 0.9722222222222222vw;
    height: 3.02083333333333vw;
    line-height: 3.055555555555556vw;
    padding: 0 0.9027777777777778vw;
    width: calc(100% - 3.055555555555556vw);
  }

  .search-but {
    width: 3.055555555555556vw;
    background-size: 1.666666666666667vw auto;
  }

  .side-logo {
    width: 22.5vw;
    margin-left: auto;
  }

  .logo-united {
    flex: 0 0 50.69444444444444%;
    max-width: 50.69444444444444%;
  }

  .logo-grand {
    flex: 0 0 42.36111111111111%;
    max-width: 42.36111111111111%;
  }

  .navigation {
    padding: 1.197916666666667vw 0;
  }

  .nav li:not(:last-child) {
    margin-right: 1.927083333333333vw;
  }

  .nav li:last-child {
    margin-right: 0;
  }

  .nav li a {
    display: block;
    font-size: 1.041666666666667vw;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
  }

  .header-support {
    width: 32.29166666666667vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .register-but {
    width: 58.38709677419355%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .register-but:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  .support-logo {
    width: 35.32258064516129%;
  }

  .section-title {
    margin-bottom: 2.1875vw;
  }

  h2 {
    font-size: 3.125vw;
  }
  .register h2 {
    font-size: 2.8vw;
  }
  .section-title .select {
    position: absolute;
    right: 0;
    top: 18%;
  }

  .section-title--online {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #002d74;
    padding-bottom: 2.1875vw;
  }

  .product-pic img {
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
  }

  .product:hover .product-pic img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .main-product {
    width: 42.39583333333333vw;
    top: 4.166666666666667vw;
    left: 6.927083333333333vw;
  }

  .main-product h1 {
    font-size: 3.125vw;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 1.5625vw;
  }

  .main-product h2 {
    font-size: 1.354166666666667vw;
    line-height: 1.5;
    text-align: center;
  }

  .main-product .products {
    justify-content: center;
    width: 91.27764127764128%;
  }

  .main-product .product {
    flex: 0 0 46.68508287292818%;
    max-width: 46.68508287292818%;
  }

  .main-product .product-pic {
    margin-bottom: 1.595833333333333vw;
  }

  .main-product .product-pic img {
    width: 82%;
  }

  .home-complete .product-intro {
    right: 6.927083333333333vw;
    top: 11.29166666666667vw;
  }

  .home-diabest .product-intro {
    left: 6.927083333333333vw;
    top: 19.29166666666667vw;
  }

  .product-intro {
    width: 33.33333333333333vw;
    font-size: 1.458333333333333vw;
  }

  .product-intro h3 {
    font-size: 1.666666666666667vw;
  }

  .product-intro .products {
    align-items: flex-end;
    margin-bottom: 0.541666666666667vw;
  }

  .product-intro .product {
    flex: 0 0 56.14617940199336%;
    max-width: 56.14617940199336%;
  }

  .product-intro .product.size-small {
    flex: 0 0 40.52823920265781%;
    max-width: 40.52823920265781%;
  }

  .product-intro .product.size-small .product-pic {
    top: -0.5208333333333333vw;
  }

  .product-intro .product-pic {
    margin-bottom: 0.695833333333333vw;
  }

  .product-intro .product-name {
    font-size: 1.666666666666667vw;
  }

  .product-intro .logo-product {
    width: 63.33001658374793%;
  }

  .product-intro.product-intro.size-full .logo-product {
    width: 81.81818181818182%;
  }

  .product-intro .buts {
    padding-top: 2.604166666666667vw;
  }

  .product-intro.size-full {
    width: 85%;
    right: 6.927083333333333vw;
    bottom: 13.7625vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .product-intro.size-full .products {
    flex: 0 0 40.8%;
    max-width: 40.8%;
    margin-bottom: 0;
  }

  .product-intro.size-full .product-info {
    flex: 0 0 34.375vw;
    max-width: 34.375vw;
  }

  .product-intro.size-full .product-info p {
    text-align: justify;
  }

  .sub-product {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .sub-product--info {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 1.875vw;
  }

  .sub-product--info h1,
  .sub-product--info p {
    line-height: 1.2;
  }

  .sub-product--info h1 {
    font-size: 3.125vw;
    padding: 0.5vw 0;
  }

  .sub-product--info p {
    font-size: 2.5vw;
  }

  .sub-product--ingredient {
    position: absolute;
    right: 5.416666666666667vw;
    bottom: 25.54166666666667vw;
    width: 37.81624500665779%;
    align-items: center;
  }

  .sub-product--ingredient .whey img {
    width: 47.53661784287617%;
    margin: 0 auto;
    display: block;
  }

  .sub-product--ingredient .product {
    width: 39.51624500665779%;
  }

  .sub-product--ingredient .product img {
    width: 100%;
  }

  .ingredient--list {
    flex: 0 0 60.18375499334221%;
    max-width: 60.18375499334221%;
    padding-left: 2.604166666666667vw;
  }

  .ingredient--item:not(:last-child) {
    margin-bottom: 1.041666666666667vw;
  }

  .ingredient--icon {
    flex: 0 0 4.0625vw;
    max-width: 4.0625vw;
  }

  .ingredient--txt {
    font-size: 1.458333333333333vw;
    line-height: 1.2;
    padding-left: 0.5208333333333333vw;
  }

  /*
  .sub-product .product {
    position: absolute;
    width: 43.35695538057743%;
    top: 16.40416666666667vw;
    left: 10.566666666666667vw;
  }*/

  .specical__level {
    font-size: 1.666666666666667vw;
  }

  .origin {
    width: 15.81102362204724%;
    left: 5.5vw;
    top: 31.5vw;
  }

  .certification {
    width: 17.09186351706037%;
    left: 27.5vw;
    top: 30.5vw;
  }

  .quality {
    width: 24.27821522309711%;
    left: 28.5vw;
    top: 12.5vw;
  }

  .lactose {
    width: 15.35433070866142%;
    left: 34vw;
    top: 25vw;
  }

  .home-complete {
    margin-top: -19.104167vw;
  }

  .home-diabest {
    margin-top: -16.54166666666667vw;
  }

  .product-content {
    margin-top: -27.4vw;
  }

  .uses-content {
    margin-top: -26.66666666666667vw;
  }

  .subjects-content {
    margin-top: -19.41666666666667vw;
  }

  .instruction-content {
    margin-top: -28.88888888888889vw;
  }

  .ingredient-content {
    margin-top: -40.55555555555556vw;
  }

  .ingredient {
    padding: 0 6.944444444444444%;
    padding-top: 47vw;
    height: 100%;
    overflow: hidden;
  }

  .ingredient-table {
    width: 44.13084112149533%;
    padding: clamp(2px, 0.4861111111111111vw, 7px);
    position: absolute;
    left: 6.944444444444444%;
    top: 41vw;
    height: 49vw;
    opacity: 0;
    -webkit-transform: translateX(-120%);
    transform: translateX(-120%);

    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .ingredient__pic {
    position: relative;
    height: 100%;
  }
  .ingredient__pic img {
    height: 100%;
    width: auto;
  }

  .ingredient-table,
  .ingredient-wrap {
    -webkit-border-radius: 6.527777777777778vw 0 6.527777777777778vw 0;
    border-radius: 6.527777777777778vw 0 6.527777777777778vw 0;
  }

  .ingredient-wrap {
    padding: 3.272222222222222vw;
  }

  .ingredient-table h2 {
    font-size: 2.222222222222222vw;
    margin-bottom: 1.083333333333333vw;
    white-space: nowrap;
    text-align: justify;
  }

  .ingredient-subtitle {
    display: flex;
    justify-content: space-between;
    font-size: 1.111111111111111vw;
    font-weight: 700;
    margin-bottom: 1.083333333333333vw;
  }

  .subtitle1 {
    width: 56%;
  }

  .subtitle2,
  .subtitle3 {
    text-align: right;
    width: 22%;
  }

  .line {
    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: 1.083333333333333vw;
  }

  .ingredient-table table {
    width: 100%;
  }

  .ingredient-table th {
    font-weight: 700;
    font-size: 1.25vw;
    line-height: 1.7;
    padding: 0.5vw 0;
  }

  .ingredient-table td {
    width: 25%;
    font-weight: 400;
    font-size: 0.9375vw;
    line-height: 1.7;
  }

  .ingredient-table td strong {
    font-weight: 500;
  }

  .ingredient-table td:nth-child(1) {
    width: 34%;
  }

  .ingredient-table th:nth-child(2),
  .ingredient-table th:nth-child(3),
  .ingredient-table th:nth-child(4),
  .ingredient-table td:nth-child(2),
  .ingredient-table td:nth-child(3),
  .ingredient-table td:nth-child(4) {
    width: 22%;
    text-align: right;
  }

  .ingredient-elements {
    width: 77.2093023255814%;
    position: absolute;
    top: 40vw;
    left: 12.944444%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }

  .ingredient-main {
    width: 53.07291666666667vw;
  }

  .elements-box .whey {
    position: absolute;
    width: 24.79166666666667vw;
    left: 5.4%;
    top: 0;
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
  }

  .ingredient-element {
    width: 10.72916666666667vw;
  }

  .ingredient-element img {
    width: 66.99029126213592%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .ingredient-element h3 {
    font-size: 1.041666666666667vw;
  }

  .ingredient-element--1 {
    left: 10.024096%;
    top: 32.84304%;
  }

  .ingredient-element--2 {
    left: 21.5%;
    top: 51.14304%;
  }

  .ingredient-element--3 {
    left: 34.5%;
    top: 57%;
  }

  .ingredient-element--4 {
    left: 48.5%;
    top: 48%;
  }

  .ingredient-element--5 {
    left: 62%;
    top: 38%;
  }

  .ingredient-element--6 {
    left: 73.5%;
    top: 21%;
  }

  .ingredient-txt {
    font-size: 2.1875vw;
    left: 67%;
    bottom: 4%;
  }

  .ingredient-table,
  .ingredient-elements,
  .ingredient-txt {
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .elements-box {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  .show__table .ingredient-table {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .show__table .ingredient-elements {
    left: 35.944444%;
    -webkit-transform: scale(0.86);
    transform: scale(0.86);
  }

  .show__table .ingredient-txt {
    -webkit-transform: translate(-150%, 124%);
    transform: translate(-150%, 124%);
  }

  .news-content {
    padding: 0 6.944444444444444%;
    padding-bottom: 2.1875vw;
  }

  .news-content .middle-details {
    border-bottom: 1px solid #002d74;
    padding-bottom: 2.1875vw;
  }

  .news-content .middle-details.no__border {
    border: none;
  }

  .news-box {
    margin-bottom: 2.1875vw;
  }

  .health-swiper .swiper-slide,
  .expert-swiper .swiper-slide,
  .promotion-swiper .swiper-slide {
    margin-top: 0 !important;
  }

  .article-pic,
  .article-pic img {
    -webkit-border-radius: 1.770833333333333vw;
    border-radius: 1.770833333333333vw;
  }

  .article-pic {
    margin-bottom: 1.09375vw;
  }

  .article-pic img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
  }

  .article-name {
    font-size: 1.041666666666667vw;
    margin-bottom: 0.8333333333333333vw;
  }

  .post-date {
    font-size: 0.8333333333333333vw;
  }

  .article-items .article {
    flex: 0 0 31%;
    max-width: 31%;
    margin: 0 3.5% 3.5% 0;
  }

  .article-items .article:nth-child(3n) {
    margin-right: 0;
  }

  .health-items {
    display: flex;
    flex-wrap: wrap;
  }

  .health-items .article {
    flex: 0 0 23.41176470588235%;
    max-width: 23.41176470588235%;
    margin: 0 2.117647058823529% 2.117647058823529% 0;
  }

  .health-items .article:nth-child(4n) {
    margin-right: 0;
  }

  #search-page .news-content:nth-child(2) {
    padding-top: 4vw;
  }

  #search-page .news-box {
    display: flex;
    flex-wrap: wrap;
  }
  #search-page .article {
    flex: 0 0 23%;
    max-width: 23%;
    margin: 0 2.666666666666667% 2.666666666666667% 0;
  }
  #search-page .article:nth-child(4n) {
    margin-right: 0;
  }

  .player-but {
    width: 4.166666666666667vw;
    height: 4.166666666666667vw;
    background-size: 50%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 5.33333px 5.33333px rgb(0 0 0 / 0%);
  }

  .article:hover .article-pic img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .article:hover .player-but {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 5.33333px 5.33333px rgb(0 0 0 / 25%);
  }
  .ingredient-table td sub {
    font-size: 50%;
  }
  .article-items {
    display: flex;
    flex-wrap: wrap;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 3.125vw;
    height: 3.125vw;
    background-size: 0.8333333333333333vw auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .swiper-button-prev {
    left: -1.5625vw;
  }

  .swiper-button-next {
    right: -1.5625vw;
  }

  .swiper-pagination-bullet {
    width: 1.25vw;
    height: 1.25vw;
  }

  .news-content .swiper-pagination {
    display: none;
  }

  .filterCate {
    width: 19.44186046511628%;
  }

  .faq {
    margin-top: -22.91666666666667vw;
    padding-top: 30.08333333333333vw;
    padding-bottom: 10.41666666666667vw;
  }

  .faq--onpage {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 6.41666666666667vw;
  }

  .faq-box {
    width: 55.46875%;
    margin-bottom: 2.604166666666667vw;
  }

  .faq-item {
    margin-bottom: 1.666666666666667vw;
  }

  .faq-title {
    padding: 0.8333333333333333vw 5.1875vw 0.8333333333333333vw 2.1875vw;
    -webkit-border-radius: 1.527777777777778vw 0 1.527777777777778vw 0;
    border-radius: 1.527777777777778vw 0 1.527777777777778vw 0;
    cursor: pointer;
  }

  .faq-title::after {
    border: 0.8333333333333333vw solid #fff;
    border-left: 0.625vw solid transparent;
    border-right: 0.625vw solid transparent;
    border-bottom: none;
    margin-top: -0.4166666666666667vw;
  }

  .active .faq-title::after {
    border-top: none;
    border-bottom: 0.8333333333333333vw solid #fff;
  }

  .faq-title h3 {
    font-size: 1.354166666666667vw;
  }

  .faq-detail p {
    margin-bottom: 1.11111111vw;
    text-align: justify;
    font-size: 1.354166666666667vw;
  }

  .faq-detail p:last-child {
    margin-bottom: 0;
  }

  .faq-detail {
    padding: 2.1875vw;
  }

  .faq-order {
    top: 0.5vw;
    width: 3.145833333333333vw;
    height: 3.145833333333333vw;
    -webkit-transform: translateX(-130%);
    transform: translateX(-130%);
  }

  .faq-order span {
    font-size: 1.1875vw;
  }

  .product-use {
    height: 100%;
  }

  .product-use .section-title {
    top: 26vw;
    text-transform: uppercase;
  }

  .product-use .whey {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 32vw;
    position: absolute;
    width: 24.79166666666667vw;
  }

  .use-quality {
    width: 13.28125%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 36vw;
    position: absolute;
  }

  .arc-product {
    width: 25.57291666666667%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 11.04166666666667%;
  }

  .keysport-post--item {
    display: flex;
    align-items: center;
    width: 34.0625vw;
  }

  .keysport--icon {
    flex: 0 0 7.1875vw;
    max-width: 7.1875vw;
  }

  .keysport--txt {
    flex-grow: 1;
    line-height: 1.5;
    font-size: 1.458333333333333vw;
  }

  .keysport-post--item:nth-child(1),
  .keysport-post--item:nth-child(2),
  .keysport-post--item:nth-child(3) {
    text-align: right;
  }

  .keysport-post--item:nth-child(1) .keysport--icon,
  .keysport-post--item:nth-child(2) .keysport--icon,
  .keysport-post--item:nth-child(3) .keysport--icon {
    margin-left: 1vw;
  }

  .keysport-post--item:nth-child(4),
  .keysport-post--item:nth-child(5),
  .keysport-post--item:nth-child(6) {
    text-align: left;
    flex-direction: row-reverse;
  }

  .keysport-post--item:nth-child(4) .keysport--icon,
  .keysport-post--item:nth-child(5) .keysport--icon,
  .keysport-post--item:nth-child(6) .keysport--icon {
    margin-right: 1vw;
  }

  .keysport-post--item:nth-child(1) {
    bottom: 32.375vw;
    left: 5.666666666666667vw;
  }

  .keysport-post--item:nth-child(2) {
    bottom: 23vw;
    left: 1.195833333333333vw;
  }

  .keysport-post--item:nth-child(3) {
    bottom: 12.58333333333333vw;
    left: 2.229166666666667vw;
  }

  .keysport-post--item:nth-child(4) {
    bottom: 32.375vw;
    right: 5.666666666666667vw;
  }

  .keysport-post--item:nth-child(5) {
    bottom: 23vw;
    right: 1.195833333333333vw;
  }

  .keysport-post--item:nth-child(6) {
    bottom: 12.58333333333333vw;
    right: 2.229166666666667vw;
  }

  .subject-use {
    height: 100%;
    padding: 18vw 6.944444444444444% 0 6.944444444444444%;
  }

  .subject-use .section-title {
    margin-bottom: 2.729166666666667vw;
  }

  .subject-use .section-title p {
    font-size: 3.125vw;
    text-align: center;
  }

  .subject-box {
    position: relative;
    width: 100%;
  }

  .subject-swiper {
    margin-bottom: 2.5vw;
  }

  .subject-swiper .swiper-slide {
    margin-top: 0 !important;
  }

  .subject-pic {
    padding: clamp(2px, 0.4861111111111111vw, 7px);
    margin-bottom: 1.3625vw;
  }

  .subject-pic,
  .subject-pic .pic,
  .subject-pic .pic img {
    -webkit-border-radius: 4.427083333333333vw 0 4.427083333333333vw 0;
    border-radius: 4.427083333333333vw 0 4.427083333333333vw 0;
    overflow: hidden;
  }

  .subject-pic .pic img {
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
  }

  .subject h3 {
    font-size: 1.666666666666667vw;
    line-height: 1.5;
    text-align: center;
    letter-spacing: -0.05em;
  }

  .subject:hover .subject-pic .pic img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .instruction {
    padding: 30.5vw 6.944444444444444% 0 6.944444444444444%;
  }

  .instruction .section-title:nth-child(1) {
    margin-bottom: 0;
  }

  .instruction .section-title {
    margin-bottom: 0.75vw;
  }

  .instruction h2 {
    text-align: left;
  }

  .how-use,
  .how-make {
    width: 58.8953488372093%;
    display: flex;
    align-items: center;
  }

  .how-use {
    margin-top: -1.5vw;
    margin-bottom: 2.125vw;
  }

  .how-use--pic {
    flex: 0 0 38.20335636722606%;
    max-width: 38.20335636722606%;
    margin-right: 2.669599217986315%;
  }

  .how-use--txt {
    font-size: 1.458333333333333vw;
  }

  .how-make {
    justify-content: space-between;
    padding-top: 0.75vw;
  }

  .make-item {
    flex: 0 0 33%;
    max-width: 33%;
  }

  .make-pic {
    width: 66.66666666666667%;
    margin: 0 auto;
  }

  .unit {
    font-size: 2.760416666666667vw;
  }

  .make-txt {
    font-size: 1.458333333333333vw;
    padding-top: 0.3vw;
  }

  .cal {
    top: 2.8vw;
  }

  .make-item:nth-child(1) .cal {
    top: 3.8vw;
  }

  .cal-mul {
    font-size: 2.760416666666667vw;
    left: 2vw;
  }

  .cal-add,
  .cal-equal {
    font-size: 4.166666666666667vw;
    left: -1vw;
  }

  .shield-and-elder {
    width: 37.41666666666667vw;
    right: 0;
    bottom: 4.4vw;
  }

  .slogan {
    text-align: center;
    font-size: 1.09375vw;
    left: 0;
    bottom: 2.5vw;
    text-transform: uppercase;
  }

  .note {
    font-size: 0.8333333333333333vw;
    left: 3vw;
    top: 103%;
  }

  .register {
    padding-bottom: 8.083333266vw;
  }

  .register-box {
    width: 61.5625%;
  }

  .form-wrap,
  .form-box {
    width: 100%;
    -webkit-border-radius: 1.145833333333333vw;
    border-radius: 1.145833333333333vw;
  }

  .form-wrap {
    padding: 2px;
    margin-bottom: 2.1875vw;
  }

  .form-box {
    background-color: #fff;
    padding: 5.385735080058224% 4.657933042212518%;
  }

  .register-box h3 {
    font-size: 1.927083333333333vw;
    margin-bottom: 1.979166666666667vw;
  }

  .otp__welcome,
  .otp__message,
  .otp__support,
  .resendOtp {
    font-size: 1.25vw;
  }

  .input-otp {
    font-size: 3.75vw;
    width: 3.90625vw;
    margin: 0 0.5vw;
    padding: 5px 0;
  }

  .otp__list,
  .otp__message {
    margin-bottom: 1.5625vw;
  }

  .form-box .swiper-slide {
    background-color: #fff;
    height: auto;
  }

  .question__number {
    font-size: 1.458333333333333vw;
    height: 4.322916666666667vw;
    padding: 0 3.75vw;
    -webkit-border-radius: 1.666666666666667vw 0 1.666666666666667vw 0;
    border-radius: 1.666666666666667vw 0 1.666666666666667vw 0;
    margin-bottom: 1.979166666666667vw;
  }

  .question__order {
    font-size: 1.666666666666667vw;
  }

  .order {
    flex: 0 0 2.683333333333333vw;
    max-width: 2.683333333333333vw;
    height: 2.683333333333333vw;
  }

  .order span {
    font-size: 1.458333333333333vw;
  }

  .info {
    padding-left: 1.666666666666667vw;
    flex: 0 0 calc(100% - 2.683333333333333vw);
    max-width: calc(100% - 2.683333333333333vw);
  }

  .title {
    font-size: 1.666666666666667vw;
    margin-bottom: 1.279166666666667vw;
  }

  .radio__item {
    margin-bottom: 1.279166666666667vw;
  }

  .radio__item > .area__input {
    max-width: 44vw;
  }

  .area__input {
    -webkit-border-radius: clamp(25px, 5.208333333333333vw, 40px);
    border-radius: clamp(25px, 5.208333333333333vw, 40px);
    font-size: 1.166666666666667vw;
    padding: 1vw 1.5vw;
    line-height: 1.2;
    padding-right: 7vw;
  }

  .radio__item .area__input {
    margin-left: 0.8333333333333333vw;
    padding-right: 1.5vw;
  }

  .area__limited {
    right: 1.5vw;
    top: 0.75vw;
    font-size: 1.25vw;
  }

  .radio-input {
    flex: 0 0 1.666666666666667vw;
    width: 1.666666666666667vw;
    max-width: 1.666666666666667vw;
    height: 1.666666666666667vw;
  }

  .radio__caption {
    font-size: 1.25vw;
    padding-left: 0.8333333333333333vw;
  }

  .input-number {
    -webkit-border-radius: clamp(25px, 5.208333333333333vw, 40px);
    border-radius: clamp(25px, 5.208333333333333vw, 40px);
    font-size: 0.9375vw;
    padding: 1vw 1.5vw;
    line-height: 1.2;
    padding-right: 6vw;
  }

  .thank {
    font-size: 2.5vw;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2.75vw;
  }

  .recall {
    font-size: 1.041666666666667vw;
    color: #002d74;
    text-align: center;
  }

  .breadcrumb {
    margin-bottom: 1.458333333333333vw;
  }

  .breadcrumb li {
    margin-right: 2.291666666666667vw;
  }

  .breadcrumb li::after {
    width: 0.78125vw;
    height: 0.78125vw;
    right: -1.5vw;
    top: 0.5vw;
  }

  .breadcrumb li:last-child {
    margin-right: 0;
  }

  .breadcrumb a {
    font-size: 1.354166666666667vw;
  }

  .detail-content {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .detail-content .buts {
    width: 100%;
    padding-right: 26.5vw;
    padding-top: 4vw;
  }

  .new-detail {
    flex: 0 0 63.48837209302326%;
    max-width: 63.48837209302326%;
    font-size: 1.25vw;
  }

  .detail-txt .img-cap {
    font-size: 0.8333333333333333vw;
    margin-top: 0.2604166666666667vw;
  }

  .detail-txt img {
    margin: 0;
  }

  .detail-txt > *:not(img) {
    margin-bottom: 2.083333333333333vw;
  }

  .detail-txt h1 {
    font-size: 3.333333333333333vw;
  }

  .detail-txt h2 {
    font-size: 2.604166666666667vw;
  }

  .detail-txt h3 {
    font-size: 1.770833333333333vw;
  }

  .detail-txt h4,
  .detail-txt h5,
  .detail-txt h6 {
    margin-bottom: 1.458333333333333vw;
  }

  .new-relation {
    flex: 0 0 31.04651162790698%;
    max-width: 31.04651162790698%;
    padding: 1.458333333333333vw;
    box-shadow: 5.33333px 5.33333px 16px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 2.1875vw;
    border-radius: 2.1875vw;
    position: sticky;
    position: -webkit-sticky;
    top: 5.729166666666667vw;
    align-self: flex-start;
    height: auto;
  }

  .new-relation.promotion {
    background-color: #fff;
  }

  .new-relation h2 {
    font-size: 2.760416666666667vw;
    text-transform: capitalize;
    margin-bottom: 1.354166666666667vw;
  }

  .new-relation .article {
    display: block;
    margin-bottom: 2.604166666666667vw;
  }

  .new-relation .article:last-child {
    margin-bottom: 0;
  }

  .relation__box {
    position: relative;
    width: 100%;
    height: auto;
  }

  .relationSlider {
    width: 100%;
    height: auto;
  }

  .relation__box .swiper-wrapper {
    transform: none !important;
    flex-wrap: wrap;
  }

  .relation__box .swiper-slide:not(:last-child) {
    margin-bottom: 2.004166666666667vw;
  }

  .branch {
    padding: 0 6.944444444444444%;
  }

  .branch h2 {
    text-align: left;
  }

  .branch-box {
    justify-content: space-between;
    height: 80vh;
    margin-bottom: 8vw;
  }

  .branch-info,
  .branch-map {
    position: relative;
    flex: 0 0 47.2093023255814%;
    max-width: 47.2093023255814%;
  }

  .branch-info {
    display: flex;
    flex-direction: column;
  }

  .branch-list {
    flex-grow: 1;
    overflow: hidden;
    overflow-y: auto;
  }

  .branch-item {
    padding-bottom: 1.066666666666667vw;
    margin-bottom: 1.066666666666667vw;
  }

  .location {
    font-size: 0.9375vw;
  }

  .name {
    font-size: 1.666666666666667vw;
    margin-bottom: 0.5vw;
  }

  .address {
    font-size: 0.9375vw;
    line-height: 1.2;
    align-items: flex-start;
    margin-bottom: 0.5vw;
  }

  .address p {
    padding-top: 0.3vw;
  }

  .address img {
    width: 1.666666666666667vw;
    height: auto;
    margin-right: 0.7291666666666667vw;
  }

  .phone {
    font-size: 0.9375vw;
  }

  .phone strong {
    font-size: 1.041666666666667vw;
  }

  .branch-map::before {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    padding-top: 127.2167487684729%;
  }

  #map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .branch-filter {
    justify-content: space-between;
  }

  .near-location {
    font-size: 0.9375vw;
    background-size: 1.666666666666667vw auto;
    padding: 0.75vw 0 0.75vw 2.1875vw;
    margin-bottom: 1vw;
  }

  .branch-city,
  .branch-search {
    flex: 0 0 47.2093023255814%;
    max-width: 47.2093023255814%;
  }

  .branch-caption {
    font-size: 1.25vw;
  }

  .select__header--branch,
  .branch-search--input {
    height: 2.291666666666667vw;
  }

  .select__input--branch,
  .branch-search--input {
    font-size: 0.9375vw;
  }

  .select__input--branch {
    padding-top: 0.4vw;
  }

  .select__box--branch li {
    font-size: 0.9375vw;
    padding: 0.3vw 0.75vw;
  }

  .select__header--branch::after {
    right: 0;
    bottom: 0.2vw;
    width: 1.666666666666667vw;
    height: 1.666666666666667vw;
  }

  .branch-search--but {
    right: 0;
    bottom: 0.2vw;
    width: 2.29666666666667vw;
    height: 2.29666666666667vw;
    background-size: 1.666666666666667vw auto;
  }

  .info-box h3,
  .info-box p {
    font-family: "Lovin Sans";
  }

  .info-box h3 {
    color: #002d74;
    font-size: 16px;
    font-weight: 700;
  }

  .info-box p {
    font-size: 14px;
    font-weight: 400;
    color: #242420;
    margin: 7px 0 !important;
  }

  .select__header {
    -webkit-border-radius: 1.145833333333333vw 0 1.145833333333333vw 0;
    border-radius: 1.145833333333333vw 0 1.145833333333333vw 0;
    box-shadow: 0px 5.33333px 5.33333px rgba(0, 0, 0, 0.25);
  }

  .select__header::after {
    width: 1.09375vw;
    height: 1.09375vw;
    background-size: 98% auto;
    right: 1.09375vw;
  }

  .select__input {
    font-size: 1.09375vw;
    padding: 0.5208333333333333vw 2.1875vw;
    -webkit-border-radius: 1.145833333333333vw 0 1.145833333333333vw 0;
    border-radius: 1.145833333333333vw 0 1.145833333333333vw 0;
  }

  .select__box li {
    font-size: 1.145833333333333vw;
    padding: 0.5208333333333333vw 2.1875vw;
  }

  .but,
  .but__txt,
  .but__txt::before {
    -webkit-border-radius: 1.527777777777778vw 0 1.527777777777778vw 0;
    border-radius: 1.527777777777778vw 0 1.527777777777778vw 0;
  }

  .but__txt {
    font-size: 1.354166666666667vw;
    padding: 0 2.083333333333333vw;
    height: 3.020833333333333vw;
    display: flex;
    align-items: center;
  }

  .back-but {
    width: 3.333333333333333vw;
    margin-right: 1vw;
    cursor: pointer;
    display: none;
    -webkit-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
  }

  .back-but:hover {
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
  }

  .show__back .back-but {
    display: block;
  }

  .text__change {
    text-transform: uppercase;
  }

  .text__change.hide__img + img {
    display: none;
  }

  .but.online__but,
  .but.online__but::before,
  .but.online__but .but__txt {
    -webkit-border-radius: 6.927083333333333vw;
    border-radius: 6.927083333333333vw;
  }

  .but.online__but .but__txt {
    align-items: center;
    padding: 0.75vw 1.483333333333333vw;
    height: auto;
  }
  .online__but {
    margin-left: 1vw;
  }
  .online-cart,
  .online-logo {
    height: auto;
  }

  .online-logo {
    width: 7.514583333333333vw;
  }

  .online-cart {
    width: 2.708333333333333vw;
    margin-left: 1.1875vw;
  }

  .but__txt::before {
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }

  .but__txt {
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }

  .but:hover .but__txt {
    color: #002d74;
  }

  .but:hover .but__txt::before {
    opacity: 0;
  }

  .icon-back {
    width: 1.979166666666667vw;
    height: auto;
    margin-right: 0.5vw;
  }

  .icon-next {
    width: 0.7291666666666667vw;
    height: auto;
    margin-left: 0.5vw;
  }

  .form-group {
    justify-content: space-between;
    margin-bottom: 1.979166666666667vw;
    align-items: flex-start;
  }

  .phone-col {
    width: 54.89566613162119%;
  }

  .email-col {
    width: 43.33868378812199%;
  }

  .col-code {
    width: 26%;
  }

  .col-phone {
    width: 71%;
    margin-left: 3%;
  }

  .input-txt {
    font-size: 1.166666666666667vw;
    padding: 1.09375vw 1.666666666666667vw;
    -webkit-border-radius: 6.927083333333333vw;
    border-radius: 6.927083333333333vw;
  }

  .input-txt--user,
  .country-code,
  .input-txt--email {
    background-position: 1.666666666666667vw center;
  }

  .country-code {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 1.166666666666667vw;
    -webkit-border-radius: 6.927083333333333vw;
    border-radius: 6.927083333333333vw;
    align-items: center;
  }

  .input-txt--user {
    padding-left: 3.666666666666667vw;
    background-size: 1.041666666666667vw auto;
  }

  .country-code {
    background-size: 1.197916666666667vw auto;
    padding-left: 3.666666666666667vw;
  }

  .input-txt--email {
    background-size: 1.276041666666667vw auto;
    padding-left: 3.666666666666667vw;
  }

  .error {
    font-size: 0.8333333333333333vw;
    padding-top: 0.2208333333333333vw;
  }

  .form-note {
    padding-top: 0.5208333333333333vw;
    font-size: 1.09375vw;
  }

  .checkbox__group {
    justify-content: center;
    gap: 2.041666666666667vw;
  }

  .check-item {
    display: flex;
    align-items: center;
  }

  .check-input {
    flex: 0 0 1.666666666666667vw;
    width: 1.666666666666667vw;
    max-width: 1.666666666666667vw;
    height: 1.666666666666667vw;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
  }

  .check-caption {
    font-size: 1.09375vw;
    padding-left: 0.8333333333333333vw;
    cursor: pointer;
  }

  .promotion .article-pic {
    padding: clamp(2px, 0.4861111111111111vw, 7px);
  }

  .promotion .article-pic,
  .promotion .article-pic .pic,
  .promotion .article-pic .pic img {
    -webkit-border-radius: 2.427083333333333vw;
    border-radius: 2.427083333333333vw;
  }

  .news-box.promotion {
    display: flex;
  }

  .news-box.promotion .article {
    flex: 0 0 32%;
    max-width: 32%;
    margin: 0 2% 2% 0;
  }

  .news-box.promotion .article:nth-child(3n) {
    margin-right: 0;
  }

  .promotion .article .but {
    width: 10vw;
    margin: 0 auto;
    margin-top: 1.302083333333333vw;
  }

  .promotion .article .but__txt {
    padding: 0;
    justify-content: center;
  }

  #whey-page {
    background: url(../images/whey-g-bg.jpg) no-repeat center top;
    background-size: 100% auto;
  }

  .middle-content--whey .middle-details {
    width: 50%;
    left: 6.927083333333333vw;
    top: 11.29166666666667vw;
  }

  .middle-content--whey h1 {
    font-size: 4.166666666666667vw;
    margin-bottom: 2.083333333333333vw;
  }

  .middle-content--whey h2 {
    font-size: 2.1875vw;
    margin-bottom: 0.7291666666666667vw;
  }

  .middle-content--whey li {
    font-size: 1.927083333333333vw;
    margin-bottom: 0.7291666666666667vw;
    background-size: 1.770833333333333vw auto;
    padding-left: 2.395833333333333vw;
  }

  .factory-content {
    padding: 0 4.166666666666667%;
  }

  .factory__box {
    align-items: flex-end;
  }

  .factory__pic {
    flex: 0 0 40.22727272727273%;
    max-width: 40.22727272727273%;
  }

  .factory__pic img {
    width: 110%;
  }

  .factory__txt {
    flex: 0 0 59.77272727272727%;
    max-width: 59.77272727272727%;
    margin-left: auto;
  }

  .factory__txt h2 {
    font-size: 2.1875vw;
    margin-bottom: 1.041666666666667vw;
  }

  .factory__txt li {
    font-size: 1.927083333333333vw;
    margin-bottom: 2.083333333333333vw;
  }

  .number__order li p {
    padding-left: 0.9375vw;
  }

  .factory__order {
    flex: 0 0 3.145833333333333vw;
    max-width: 3.145833333333333vw;
    height: 3.145833333333333vw;
    padding: 2px;
  }

  .factory__order span {
    font-size: 1.1875vw;
  }

  .number__order {
    padding-bottom: 1vw;
  }

  .circle__list li {
    background-position: left 0.675vw;
    background-size: 1.25vw auto;
    padding-left: 3.229166666666667vw;
  }

  .compare-content {
    padding: 0 9.41666666666667%;
  }

  .compare__pic {
    width: 51.2%;
    margin: 0 auto;
    padding: 3.958333333333333vw 0;
  }

  .compare__txt h2 {
    font-size: 2.1875vw;
    margin-bottom: 1.041666666666667vw;
  }

  .compare__txt {
    width: 100%;
    text-align: center;
    margin-bottom: 5vw;
    font-size: 1.927083333333333vw;
  }

  .compare__items {
    justify-content: space-between;
    margin-bottom: 7.1875vw;
  }

  .compare__item {
    flex: 0 0 47.8%;
    max-width: 47.8%;
    padding: 3.645833333333333vw 1.979166666666667vw;
    font-size: 1.927083333333333vw;
  }

  .compare__item h3 {
    margin-bottom: 2.604166666666667vw;
    font-size: 2.1875vw;
  }

  .compare__item p:not(:last-child) {
    margin-bottom: 2.604166666666667vw;
  }

  .contain-content {
    padding: 0 7.1875%;
  }

  .contain__box {
    padding-top: 5.729166666666667vw;
  }

  .contain__box h2 {
    font-size: 2.395833333333333vw;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1.875vw;
  }

  .contain__txt {
    flex: 0 0 30.25210084033613%;
    max-width: 30.25210084033613%;
    font-size: 1.827083333333333vw;
    text-align: justify;
    margin-left: 5.042016806722689%;
  }

  .contain__txt:nth-child(2) {
    margin-left: 0;
  }

  .immunoglobins {
    flex: 0 0 29.59183673469388%;
    max-width: 29.59183673469388%;
    margin-left: auto;
    margin-top: -3.5vw;
  }

  .whey-contain {
    padding-top: 9.479166666666667vw;
    padding-bottom: 6.25vw;
  }

  .whey-contain img {
    width: 68.12725090036014%;
    display: block;
    margin: 0 auto;
  }

  .type-content {
    padding: 3.645833333333333vw 7.1875% 5.625vw 7.1875%;
    background-color: #e5f7ff;
  }
  .type__items {
    justify-content: space-between;
  }
  .type__item:nth-child(1) {
    flex: 0 0 34.57382953181273%;
    max-width: 34.57382953181273%;
  }
  .type__item:nth-child(2) {
    flex: 0 0 28.93157262905162%;
    max-width: 28.93157262905162%;
  }
  .type__item:nth-child(3) {
    flex: 0 0 28.93157262905162%;
    max-width: 28.93157262905162%;
  }

  .type__box h2 {
    font-size: 2.1875vw;
    margin-bottom: 1.5625vw;
  }

  .type__item h3,
  .type__item p {
    font-size: 1.927083333333333vw;
    margin-bottom: 1.916666666666667vw;
  }
  .type__item p {
    text-align: justify;
  }

  .type__icon {
    width: 2.65625vw;
    margin-bottom: 3.125vw;
  }

  .type__pic img {
    position: relative;
    width: 80%;
    left: -10%;
  }

  .benefit-content {
    padding: 5.625vw 8.333333333333333% 16.66666666666667vw 8.333333333333333%;
    background: url(../images/benefit_bg.jpg) no-repeat center bottom;
    background-size: cover;
  }

  .benefit__title {
    padding: 1.979166666666667vw 5.1875vw;
    -webkit-border-radius: 1.527777777777778vw 0 1.527777777777778vw 0;
    border-radius: 1.527777777777778vw 0 1.527777777777778vw 0;
    max-width: 94%;
    margin: 0 auto;
    margin-bottom: 5.9375vw;
  }
  .benefit__title h2 {
    font-size: 2.1875vw;
  }

  .benefit__item {
    margin-bottom: 9.895833333333333vw;
  }

  .benefit__pic {
    flex: 0 0 33.1875%;
    max-width: 33.1875%;
  }

  .benefit__pic,
  .benefit__pic .pic,
  .benefit__pic .pic img {
    -webkit-border-radius: 2.427083333333333vw;
    border-radius: 2.427083333333333vw;
  }

  .benefit__pic {
    padding: clamp(2px, 0.4861111111111111vw, 7px);
  }

  .benefit__txt {
    flex-grow: 1;
  }

  .benefit__item h3 {
    font-size: 2.1875vw;
  }

  .benefit__detail {
    font-size: 1.927083333333333vw;
    padding-top: 5.104166666666667vw;
  }

  .benefit__detail p:not(:last-child) {
    margin-bottom: 2.020833333333333vw;
  }

  .benefit__detail::before {
    left: 0;
    top: 2.6vw;
  }

  .benefit__item:nth-child(1) {
    align-items: center;
  }
  .benefit__item:nth-child(1) .benefit__pic {
    right: 19%;
  }
  .benefit__item:nth-child(2) {
    align-items: flex-start;
  }
  .benefit__item:nth-child(2) .benefit__txt {
    padding-left: 14.25%;
  }
  .benefit__item:nth-child(3) {
    align-items: flex-start;
  }
  .benefit__item:nth-child(3) .benefit__txt {
    padding-right: 6.875%;
  }

  .benefit__contact {
    -webkit-border-radius: 0.625vw;
    border-radius: 0.625vw;
    padding: 2.041666666666667vw 1.041666666666667vw;
    justify-content: space-between;
    max-width: 94%;
    margin: 0 auto;
  }

  .benefit__contact ul {
    flex: 0 0 48%;
    max-width: 48%;
  }

  .benefit__contact ul li {
    font-size: 0.8854166666666667vw;
  }

  .footer-top {
    display: flex;
    align-items: flex-start;
    padding-top: 3.472222222222222vw;
    padding-bottom: 2.777777777777778vw;
    align-items: flex-end;
  }

  .logo--bot {
    width: 22.08333333333333vw;
    margin-right: 3.4375vw;
  }

  .logo-united--bot {
    width: 11.40625vw;
    margin-right: 3.4375vw;
  }

  .logo-grand--bot {
    width: 9.53125vw;
  }

  .footer-bot {
    padding-top: 2.777777777777778vw;
    padding-bottom: 3.472222222222222vw;
  }

  .footer-bot--left {
    flex: 0 0 22.1875vw;
    max-width: 22.1875vw;
    margin-right: 3.4375vw;
  }

  .footer-bot--right {
    flex-grow: 1;
  }

  .subtitle {
    font-size: 1.666666666666667vw;
    margin-bottom: 0.6944444444444444vw;
  }

  .footer-nav li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-nav li:not(:last-child) {
    margin-right: 3.1375vw;
  }

  .footer-nav li a {
    display: block;
    text-align: center;
  }

  .footer-nav li::after {
    content: "";
    position: absolute;
    right: -1.6vw;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #fff;
  }

  .footer-nav li:last-child {
    margin-right: 0;
  }

  .footer-nav li:last-child::after {
    display: none;
  }

  .footer-nav li.active a {
    color: #fff585;
  }

  .footer-contact {
    display: flex;
    margin-top: 1.388888888888889vw;
  }

  .footer-contact--info,
  .footer-producer {
    flex-grow: 1;
    padding-right: 5%;
  }

  .footer-contact--hotline,
  .footer-socials {
    flex: 0 0 19.27083333333333vw;
    max-width: 19.27083333333333vw;
  }

  .footer-contact--hotline {
    padding-top: 2.7vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .origin-info {
    padding-top: 2vw;
  }
  .hotline li {
    display: flex;
    align-items: center;
    margin-bottom: 1.111111111111111vw;
  }

  .hotline .icon {
    width: 1.666666666666667vw;
    height: auto;
    margin-right: 0.6770833333333333vw;
  }

  .hotline a {
    font-size: 1.111111111111111vw;
  }

  .footer p {
    font-size: 1.111111111111111vw;
    margin-bottom: 1.111111111111111vw;
  }

  .hotline li:last-child,
  .footer p:last-child {
    margin-bottom: 0;
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
  }

  .footer-nav a {
    font-size: 1.041666666666667vw;
    text-transform: uppercase;
    font-weight: 500;
  }

  .socials li {
    display: flex;
    margin-right: 2.1875vw;
  }

  .socials a {
    width: 4.375vw;
  }

  .footer-bot--left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .video-box {
    width: 100%;
    margin-bottom: 1.458333333333333vw;
    -webkit-border-radius: 1.145833333333333vw;
    border-radius: 1.145833333333333vw;
  }

  .gov-box {
    width: 100%;
  }

  .gov-link {
    width: 13.85416666666667vw;
    display: block;
  }

  .copyright {
    font-size: 1.09375vw;
    margin-bottom: 1.058333333333333vw;
  }

  .ingredient-close {
    right: 5px;
    top: 5px;
    width: 2vw;
    height: 2vw;
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
    background: none;
  }

  .ingredient-close:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .ingredient-but {
    left: 0;
    top: 54vw;
    width: 4.166666666666667vw;
    cursor: pointer;
    -webkit-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
  }

  .show__table .ingredient-but {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  .ingredient-top {
    width: 50.04166666666667%;
    bottom: 7vw;
    right: 3.883333333333333%;
    text-align: left;
    font-size: 0.9375vw;
  }

  /*effects*/
  .nav li a,
  .logo,
  .gov-link,
  .socials a,
  .logo--bot,
  .hotline a {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

  .footer-nav a {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }

  .nav li:not(.active):hover a,
  .logo:hover,
  .gov-link:hover,
  .socials a:hover,
  .logo--bot:hover,
  .hotline a:hover {
    opacity: 0.7;
  }

  .footer-nav a:hover {
    color: #fff585;
  }
}
